@import "variables";
footer{
    padding: 10px;
    background: $negro;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(125,11,55,1) 100%, rgba(0,0,0,1) 100%);
    color: $blanco;

    h3{
        text-align: left;
    }

    .botonSubir{
        text-align: right;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;

        img{

            transition: filter 0.3s ease-in-out;
        }

        &:hover img{
            filter: invert(1);
        }
    }

    .imgfooter img{
        height: 30px; 
        margin-right: 10px;
        display: inline-block;
    }

    p{
        a{
            text-decoration: none;
        }
    }

}