footer{
    padding: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(125,11,55,1) 100%, rgba(0,0,0,1) 100%);
    color: #ffffff;

    h3{
        text-align: left;
    }

    h4{
        text-align: right;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }

    .imgfooter img{
        height: 30px; 
        margin-right: 10px;
        display: inline-block;
    }

}