body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    header{
        background-color: #2c051f;
        color: #ffffff;

        .titulo{
            text-align: center;
            color: #ffffff;
        }
        
        .estiloNav{
            background-color: #d31c62;

            a{
                color: rgb(255, 255, 255);
                margin: auto 50px;
                text-align: center;

                a:hover{
                    color: #d31c62;
                    background-color: #ffffff;
                    border-radius: 3%;
                }
            }
            
        }
        
    }

    main{
        .subTitulo{
            text-align: center;
            color: #ffffff;
            padding: 2% 0 0 0 ;
        }

        .row{
            padding: 0 0 10%;

            h2{
                color: #ffffff;
            }

            .textCarousel{
                color: #ffffff;
                background-color: #00000091;
                border-radius: 1%;
                
            }
        }
    }

    footer{
        padding: 10px;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
        color: #ffffff;

        h3{
            text-align: left;
        }

        h4{
            text-align: right;
        }

        a{
            text-decoration: none;
            color: #ffffff;
        }

        .imgfooter img{
            height: 30px; 
            margin-right: 10px;
            display: inline-block;
        }

    }

}



