@import "variables";
body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    
    main{

        p{
            color: $blanco;
            text-align: center;
        }

        .bgContainer{
            background-color: $colorContainers;
            padding: 50px 30px 30px 30px;
            border-radius: 5px;  
            
            .breadcrumb{
                padding: 10px 5px;
                    li{
                        color: $blanco;
                        a{
                            text-decoration: none;
                        }
                    }
            }
            
        }

        .subTitulo{
            text-align: center;
            color: $blanco;
            padding: 2% 0 0 0 ;
        }
     
        .row{
            padding: 0 0 10%;

            h2{
                color: $blanco;
                a{
                    text-decoration: none;
                    font-size: 25px;
                }
            }

            .textCarousel{
                color: $blanco;
                background-color: #00000091;
                border-radius: 1%;
                a{
                    text-decoration: none;
                    color: $blanco;

                    &:hover{
                        transform: translate(1px, 1px);
                        color: $colorPrincipal;

                    }
                }
            }

            .imgPortada{
                max-width: 100%;
                height: auto;
            }
            
            .fechas{
                color: $blanco;
            }

            .textInfo{
                color: $blanco;
                background-color: $colorCajasTexto;
                padding: 5px;
                border-radius: 5px;
                p{
                    padding: 10px;
                    font-size: larger;
                }
            }

            .tituloRes{
                padding: auto 20px;
                color: $blanco;
            }
            
            
            .stars{
                max-width: 50%;
                height: auto;
            }

            .formulario{
                color: $blanco;
                width: 500px;
                margin: 5% auto 5% auto;
            }
            
            .buttonColor{
                background-color: $colorPrincipal;
                color: $blanco;
                border-color: $colorBordes;
            
                &:hover{
                    background-color: $blanco;
                    color: $colorPrincipal;
                    border-color: $colorBordes;
                    transform: translate(1px, 1px);
                    
                }
            }

            .sobreNosgi{
                text-align: center;
            }

            .textoSobreNos{
                p{
                    text-align: left;
                }
                
            }

            .imgFogata{
                text-align: center;
            }
            
            
        }
        h3{
            color: $blanco;
            text-align: center;
        }
        .news{
            padding: 0 0 5%;
        }

    }

}