@import "variables";
header{    
    .estiloNav{
        background-color: $colorPrincipal;

        .imgLogo{
            max-height: 50px;
            margin: auto;
            display: block;
        }

        @media (min-width: 992px) {
            .imgLogo {
              margin: 0;
            }
        }

        a{
            color: $blanco;
            margin: auto 50px;
            text-align: center;

            &:hover{
                color: $colorPrincipal;
                background-color: $blanco;
                border-radius: 3%;
            }
        }
        
    }
    
}